* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  color: #de8f41;
  width: 6px;
  transition: all 0.3s;
  background-color: #121212;
}
::-webkit-scrollbar-track {
  border-radius: 7px;
}

::-webkit-scrollbar-thumb {
  background: #de8f41;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b0561b;
}
